include ../partials/header.pug
.container
  h1.page_name Our Services
  .serve_container
    h3.serve Acupuncture
    .main_content
       .service_photo
          img(src="./../../assets/acupunctur.jpg", alt="physio")
       .service_info
         p.service_intro.
            Acupuncture is the treatment modality of Traditional Chinese Medicine (TCM) most widely used, recognized and taught in the Western world.
           It presupposes the existence of a vital energy, or "Qi" (pronounced "chi"), that is essential to life and that flows throughout the body. This energy is transported by a system of channels called meridians. These meridians represent a large network of superficial and deep pathways that enable a connection between the inner and outer aspects of our bodies.
          Acupuncture points are found on the surface of your body and at very specific locations along themeridians. Mapped and documented for thousands of years by Asian societies (Chinese, Japanese, Korean, Vietnamese, Taiwanese, etc.), these points have their own characteristics and indications.
          The selection and method of stimulation of these points are determined by the acupuncturist and based on Traditional Chinese Medicine energy and pattern diagnosis. By selecting a combination of points, the treatment will have an effect on one or more bodily organs, areas or functions, and therefore act on a set of varied symptoms related to the initial cause of the imbalance.
          Acupuncture is a unique therapeutic method that enables us to influence and treat the interior by using a synergy of points on the exterior aspect of our bodies.


    //- a.view_more(href="allservices.html")  MOre services
           