include ../partials/header.pug
.container
  h1.page_name Our Services
  .serve_container
    h3.serve PHYSIOTHERAPY
    .main_content
       .service_photo
          img(src="./../../assets/phsio.jpeg", alt="physio")
       .service_info
         p.service_intro Physiotherapy is a health care profession which assists people to restore, maintain and maximize their strength, function, movement, and overall well-being. Physiotherapy can be use as a part of treatment or to prevent injuries as well.
         p.any_bold PHYSIOTHERAPY BENIFITS
         ul
           li Managing acute and chronic conditions, activity limitations, and participation restrictions
           li Improving and maintaining optimal functional independence and physical performance
           li Rehabilitating injury and the effects of disease or disability with therapeutic exercise programs and other interventions.
           li Educating and planning maintenance and support programs to prevent re-occurrence, re-injury or functional decline.
           li Promoting optimal mobility, physical activity and overall health and wellness
           li Preventing disease, injury, and disability
           li Physiotherapy benefits include decreasing pain, improving joint mobility, increasing strength, coordination, improved cardio-respiratory function
           li Everyone can be benefit from physiotherapy whether you are living with a chronic illness, recovering from a work injury or suffering after that weekend hockey game.



  .serve_container
    h3.serve chiropracter
    .main_content
       .service_photo
          img(src="./../../assets/chiropractor.jpg", alt="physio")
       .service_info
         p.service_intro.
            Chiropractic is a non-invasive, hands-on health care discipline that focuses on the musculoskeletal system. Chiropractors practice a manual approach, providing diagnosis, treatment and preventive care for disorders related to the spine, pelvis, nervous system and joints.
            Chiropractors use a combination of treatments, all of which are predicated on the specific needs of the individual patient. After taking a complete history and diagnosing a patient, a chiropractor can develop and carry out a comprehensive treatment/management plan, recommend therapeutic exercise and other non-invasive therapies, and provide nutritional, dietary and lifestyle counselling.
            For many conditions, such as lower back pain, chiropractic care is frequently the primary method of treatment. Where other conditions exist, chiropractic care may complement or support medical treatment by relieving the musculoskeletal aspects associated with the condition.
            Chiropractic care may also be used to provide symptomatic relief for patients with chronic conditions. According to patient surveys, by treating the musculoskeletal elements of such disorders, chiropractic treatment has been shown to improve the general well-being of the patient.
         p.any_bold There are many reasons to seek chiropractic care
         ul
           li BackPain
           li NeckPian
           li Headache
           li Whiplash
           li Strains and sprains
           li Work and sports injuries
           li Arthritis
           li Limited range of motion in the back, shoulder, neck or limbs
           li General health and well-being

 
 
  .serve_container
    h3.serve Dietitian
    .main_content
       .service_photo
          img(src="./../../assets/dietitian.jpg", alt="physio")
       .service_info
         p.service_intro.
            A dietitian is a degree-qualified health professional who:
         ul 
           li Helps to promote nutritional well-being, treat disease and prevent nutrition related problems
           li Provides practical, safe advice, based on current scientific evidence Dietitians are the only nutrition professionals to be regulated by law and governed by an ethical code, to ensure that they always work to the highest standard.
         p.any_bold What dietitians do?
         ul
           li Translate nutrition science into understandable, practical information about food, allowing people to make.
           li Appropriate lifestyle and food choices treat a range of medical conditions with dietary therapy, specially tailored to each individual.
           li Advise on healthy eating for all ages, races, cultures and social groups.
           li Conduct research relating to health, diet and nutrition.
           li Write and provide comment for the media.
           li Advise industry and government.
           li Give talks and lectures to health professionals and the public.
           li Teach in higher education
         p.any_bold Who can see a dietitian?
         p.service_intro.
           You can see a dietcian if you have been diagnosed with a medical condition or have concerns with any of the areas below:
         ul
          li Diabetes
          li Food allergy and intolerance
          li Gastroenterology (digestive system)
          li Heart and Thoracic (chest)
          li HIV/AIDS
          li Mental Health
          li Obesity
          li Oncology (cancer)
          li Renal (kidneys)

  
  .serve_container
    h3.serve Acupuncture
    .main_content
       .service_photo
          img(src="./../../assets/acupunctur.jpg", alt="physio")
       .service_info
         p.service_intro.
            Acupuncture is the treatment modality of Traditional Chinese Medicine (TCM) most widely used, recognized and taught in the Western world.
           It presupposes the existence of a vital energy, or "Qi" (pronounced "chi"), that is essential to life and that flows throughout the body. This energy is transported by a system of channels called meridians. These meridians represent a large network of superficial and deep pathways that enable a connection between the inner and outer aspects of our bodies.
          Acupuncture points are found on the surface of your body and at very specific locations along themeridians. Mapped and documented for thousands of years by Asian societies (Chinese, Japanese, Korean, Vietnamese, Taiwanese, etc.), these points have their own characteristics and indications.
          The selection and method of stimulation of these points are determined by the acupuncturist and based on Traditional Chinese Medicine energy and pattern diagnosis. By selecting a combination of points, the treatment will have an effect on one or more bodily organs, areas or functions, and therefore act on a set of varied symptoms related to the initial cause of the imbalance.
          Acupuncture is a unique therapeutic method that enables us to influence and treat the interior by using a synergy of points on the exterior aspect of our bodies.
  

  .serve_container
    h3.serve Massage
    .main_content
       .service_photo
          img(src="./../../assets/massage.jpg", alt="physio")
       .service_info
         p.service_intro.
            Massage therapy consists primarily of hands-on manipulation of the soft tissues of the body, specifically, the muscles, connective tissue, tendons, ligaments and joints for the purpose of optimizing health.
         p.any_bold There are the types of Massage we provide:
         ul
           li Swedish massage
           li Deep tissue massage
           li Sports massage
           li Trigger point massage
           li Massage for pregnant Women
           li Relaxation massage
           li Head massage
           li Therapeutic massage
           li Stone massage
           li Stretching
           li Myofascial Release
         p.any_bold BENEFITS OF MASSAGE
         p.service_intro.
            While more research is needed to confirm the benefits of massage, some studies have found massage may also be helpful for:
         ul
           li Anxiety
           li  Digestive disorders 
           li   Fibromyalgia
           li  Headaches 
           li  Insomnia related to stress 
           li   Myofascial pain syndrome
           li  Soft tissue strains or injuries
           li  Sports injuries
           li  Temporomandibular joint pain

                  
                      