include ../partials/header.pug
.container
    h1.doc_pro PHYSIOTHERAPIST
    p.doc_name JANA CHANDERSHEKHAR (BPT, MPT, CLT, FDN) 
    .main_content
       .service_photo
          img(src="./../../assets/doc1.jpg", alt="doc1")
       .doc_info
          p.doc_intro.
           Jana received his Bachelor of Physiotherapy degree in 1998 and completed his Master degree in Physiotherapy in 2001, from TN Dr.MGR Medical University, India. Jana has over 17 years of experience in Physiotherapy inclusive of academic and clinical practice. He worked as a Professor at various universities in India before moving to Canada. He has vast experience in treating patients with a range of musculoskeletal, neurological, pediatric, cardiopulmonary conditions and senior health.
           Having a strong research background, he applies evidence-based practice in all areas of patient care. In clinical practice, Jana provides assessments and treatments based on biomechanical and patient response models. This includes a manual therapy approach combined with muscle stabilizing exercise programs. He is specialized in exercise training and systematic conditioning for chronic diseases.
           Jana has published his academic works in a number of scientific journals and has also presented research papers at international conferences. In his pursuit of continued professional development, he has completed various clinical practice courses in Canada such as Manual therapy, Dry needling, Acupuncture, Lymphedema management and currently working on more advanced courses.
           He is an authorizer of AADL program and uses needles in practice.He is affiliated with Acupuncture foundation of Canada, Canadian Physiotherapy association, Robin McKenzie institute of Canada, Alberta Aids of daily living and Alberta College of Physiotherapists.
           He is a family man. When he is not working, he enjoys spending time with family. He enjoys playing badminton, cricket, chess and soccer in his leisure times.
           Jana is also fluent in Tamil, Telugu, Hindi and can understand Malayalam and Punjabi, to better serve patients requiring a Physical therapist who speak these languages.
    
    h1.doc_pro PHYSIOTHERAPIST
    p.doc_name BIJISH (BPT,MPT)
    .main_content
       .service_photo
          img(src="./../../assets/doc2.jpg", alt="doc2")
       .doc_info
          p.doc_intro.
           Bijish completed his Bachelor of physiotherapy in 2004 and obtained his master of physiotherapy degree in 2006. During his 10+ years of experience, he had the privilege of treating patients of all ages and backgrounds in various multidisciplinary settings. Bijish has experience working with a wide variety of musculoskeletal and neurological injuries. His assessments focus on targeting the root cause of injury in order to rehabilitate and prevent future injuries. He uses a hands on manual therapy based approach with appropriate exercise prescription and electrotherapy to aid treatment. Bijish also has a background in sports physiotherapy. He worked as a team physiotherapist for the Ajman (UAE) volleyball team. Additionally Bijish obtained his certification in Functional Dry Needling and Kinesio Taping.
    
    h1.doc_pro PHYSIOTHERAPIST
    p.doc_name SHIMPY (BPT, MPT)
    .main_content
       .service_photo
          img(src="./../../assets/doc3.jpg", alt="doc1")
       .doc_info
          p.doc_intro Shimpy completed her Bachelor of Physiotherapy in 2006 and obtained her Masters of Sports Physiotherapy in 2008. She always had a passion for Physical Therapy, and a desire to help others and this is why she choose to be a Physiotherapist. During her 5 years of experience, She has dedicated herself in assisting her client's return to work, return to sports and helping clients to achieve their goals while returning to preinjury level. Shimpy's strength is in her ability to listen to her clients patiently and focus on targeting the root cause of injury in order to rehabilitate and prevent future injuries. She believes that many factors play's important role in maintaining the health of her patients which is why a broad approach using multiple forms of treatment is important. Treatments usually involve various manual therapy techniques, exercise programs, instruction and ergonomic advice in pain management techniques, electrotherapeutic modalities, Home programme . Shimpy has also worked as a Sports Physiotherapist in PAP (Punjab Armed Police) in India. She has an international exposure of working in Common Wealth Games 2010 as an Assistant Project Officer. Along with that she has worked as a Physiotherapist in Clinical settings where she has experience treating all kind of patients specially Musculoskeletal and Neurological injuries etc. Outside of the Clinic, she maintains an active lifestyle and has a strong interest in cycling, dancing and badminton.
   

    include doc4.pug
    include doc5.pug
    include doc6.pug
    include doc7.pug
    include doc8.pug
    include doc9.pug