include ../partials/header.pug
.container
  h1.page_name Our Services
  .serve_container
    h3.serve chiropracter
    .main_content
       .service_photo
          img(src="./../../assets/chiropractor.jpg", alt="physio")
       .service_info
         p.service_intro.
            Chiropractic is a non-invasive, hands-on health care discipline that focuses on the musculoskeletal system. Chiropractors practice a manual approach, providing diagnosis, treatment and preventive care for disorders related to the spine, pelvis, nervous system and joints.
            Chiropractors use a combination of treatments, all of which are predicated on the specific needs of the individual patient. After taking a complete history and diagnosing a patient, a chiropractor can develop and carry out a comprehensive treatment/management plan, recommend therapeutic exercise and other non-invasive therapies, and provide nutritional, dietary and lifestyle counselling.
            For many conditions, such as lower back pain, chiropractic care is frequently the primary method of treatment. Where other conditions exist, chiropractic care may complement or support medical treatment by relieving the musculoskeletal aspects associated with the condition.
            Chiropractic care may also be used to provide symptomatic relief for patients with chronic conditions. According to patient surveys, by treating the musculoskeletal elements of such disorders, chiropractic treatment has been shown to improve the general well-being of the patient.
         p.any_bold There are many reasons to seek chiropractic care
         ul
           li BackPain
           li NeckPian
           li Headache
           li Whiplash
           li Strains and sprains
           li Work and sports injuries
           li Arthritis
           li Limited range of motion in the back, shoulder, neck or limbs
           li General health and well-being
    a.view_more(href="allservices.html")  MOre services
           