include ../partials/header.pug
.container
  h1.page_name Our Services
  .serve_container
    h3.serve Dietitian
    .main_content
       .service_photo
          img(src="./../../assets/dietitian.jpg", alt="physio")
       .service_info
         p.service_intro.
            A dietitian is a degree-qualified health professional who:
         ul 
           li Helps to promote nutritional well-being, treat disease and prevent nutrition related problems
           li Provides practical, safe advice, based on current scientific evidence Dietitians are the only nutrition professionals to be regulated by law and governed by an ethical code, to ensure that they always work to the highest standard.
         p.any_bold What dietitians do?
         ul
           li Translate nutrition science into understandable, practical information about food, allowing people to make.
           li Appropriate lifestyle and food choices treat a range of medical conditions with dietary therapy, specially tailored to each individual.
           li Advise on healthy eating for all ages, races, cultures and social groups.
           li Conduct research relating to health, diet and nutrition.
           li Write and provide comment for the media.
           li Advise industry and government.
           li Give talks and lectures to health professionals and the public.
           li Teach in higher education
         p.any_bold Who can see a dietitian?
         p.service_intro.
           You can see a dietcian if you have been diagnosed with a medical condition or have concerns with any of the areas below:
         ul
          li Diabetes
          li Food allergy and intolerance
          li Gastroenterology (digestive system)
          li Heart and Thoracic (chest)
          li HIV/AIDS
          li Mental Health
          li Obesity
          li Oncology (cancer)
          li Renal (kidneys)

    a.view_more(href="allservices.html")  MOre services
           