include ../partials/header.pug
.container
   h1.doc_name JANA CHANDERSHEKHAR (BPT, MPT, CLT, FDN)
   .main_content
       .service_photo
          img(src="./../../assets/doc1.jpg", alt="doc1")
       .doc_info
          p.doc_intro.
           Jana received his Bachelor of Physiotherapy degree in 1998 and completed his Master degree in Physiotherapy in 2001, from TN Dr.MGR Medical University, India. Jana has over 17 years of experience in Physiotherapy inclusive of academic and clinical practice. He worked as a Professor at various universities in India before moving to Canada. He has vast experience in treating patients with a range of musculoskeletal, neurological, pediatric, cardiopulmonary conditions and senior health.
           Having a strong research background, he applies evidence-based practice in all areas of patient care. In clinical practice, Jana provides assessments and treatments based on biomechanical and patient response models. This includes a manual therapy approach combined with muscle stabilizing exercise programs. He is specialized in exercise training and systematic conditioning for chronic diseases.
           Jana has published his academic works in a number of scientific journals and has also presented research papers at international conferences. In his pursuit of continued professional development, he has completed various clinical practice courses in Canada such as Manual therapy, Dry needling, Acupuncture, Lymphedema management and currently working on more advanced courses.
           He is an authorizer of AADL program and uses needles in practice.He is affiliated with Acupuncture foundation of Canada, Canadian Physiotherapy association, Robin McKenzie institute of Canada, Alberta Aids of daily living and Alberta College of Physiotherapists.
           He is a family man. When he is not working, he enjoys spending time with family. He enjoys playing badminton, cricket, chess and soccer in his leisure times.
           Jana is also fluent in Tamil, Telugu, Hindi and can understand Malayalam and Punjabi, to better serve patients requiring a Physical therapist who speak these languages.
   a.view_more(href='./allteam.html') View Team 


