include ../partials/header.pug
.container
   h1.doc_name BIJISH (BPT,MPT)
   .main_content
       .service_photo
          img(src="./../../assets/doc2.jpg", alt="doc1")
       .doc_info
          p.doc_intro.
            Bijish completed his Bachelor of physiotherapy in 2004 and obtained his master of physiotherapy degree in 2006. During his 10+ years of experience, he had the privilege of treating patients of all ages and backgrounds in various multidisciplinary settings. Bijish has experience working with a wide variety of musculoskeletal and neurological injuries. His assessments focus on targeting the root cause of injury in order to rehabilitate and prevent future injuries. He uses a hands on manual therapy based approach with appropriate exercise prescription and electrotherapy to aid treatment. Bijish also has a background in sports physiotherapy. He worked as a team physiotherapist for the Ajman (UAE) volleyball team. Additionally Bijish obtained his certification in Functional Dry Needling and Kinesio Taping.

   a.view_more(href='./allteam.html') View Team 


