include ../partials/header.pug
.container
   h1.doc_name SHIMPY (BPT, MPT)
   .main_content
       .service_photo
          img(src="./../../assets/doc3.jpg", alt="doc1")
       .doc_info
          p.doc_intro.
           Shimpy completed her Bachelor of Physiotherapy in 2006 and obtained her Masters of Sports Physiotherapy in 2008. She always had a passion for Physical Therapy, and a desire to help others and this is why she choose to be a Physiotherapist. During her 5 years of experience, She has dedicated herself in assisting her client's return to work, return to sports and helping clients to achieve their goals while returning to preinjury level. Shimpy's strength is in her ability to listen to her clients patiently and focus on targeting the root cause of injury in order to rehabilitate and prevent future injuries. She believes that many factors play's important role in maintaining the health of her patients which is why a broad approach using multiple forms of treatment is important. Treatments usually involve various manual therapy techniques, exercise programs, instruction and ergonomic advice in pain management techniques, electrotherapeutic modalities, Home programme . Shimpy has also worked as a Sports Physiotherapist in PAP (Punjab Armed Police) in India. She has an international exposure of working in Common Wealth Games 2010 as an Assistant Project Officer. Along with that she has worked as a Physiotherapist in Clinical settings where she has experience treating all kind of patients specially Musculoskeletal and Neurological injuries etc. Outside of the Clinic, she maintains an active lifestyle and has a strong interest in cycling, dancing and badminton.
   a.view_more(href='./allteam.html') View Team 


