include ../partials/header.pug
.container
   h1.doc_pro MASSAGE THERAPIST
   p.doc_name Amritpal Kaur (RMT)
   .main_content
       .service_photo
          img(src="./../../assets/doc4.jpg", alt="doc1")
       .doc_info
          p.doc_intro.
           Amritpal Kaur ss a RMT and member of RMTA(registered massage therapy association of Alberta My interest begin in massage when I had issue in my neck after a so many treatment it get relief with massage so I decided to begin with massage profession and helping somebody to get relieve from pain.i am graduated with 2200 hrs and performing Swedish massage, therapeutic treatment,deep tissue, range of motion exercises in my practice
           


