include ../partials/header.pug
.container
   h1.doc_pro MASSAGE THERAPIST
   p.doc_name LANA (RMT)
   .main_content
       .service_photo
          img(src="./../../assets/doc5.jpg", alt="doc1")
       .doc_info
          p.doc_intro.
           Lana is a long time Calgarian and health enthusiast. She is a firm believer in the power of massage therapy to reduce stress, aid in healing and promote relaxation. Lana's interest in massage began when she had an issue with stress induced pain in her arm and shoulder. The condition dramatically improved through regular massage. This experience inspired her to want to improve the quality of life for others in a similar way and provide an alternative option for pain management. Lana attended Mount Royal University and graduated from the 2200 hour massage therapy diploma program. She is a member of the Natural Health Practitioners of Canada.



