include ../partials/header.pug
.container
   h1.doc_pro MASSAGE THERAPIST
   p.doc_name GITIKA BINDRA (RMD)
   .main_content 
       .service_photo
          img(src="./../../assets/doc6.jpg", alt="doc1")
       .doc_info
          p.doc_intro.
           2355 Hours RMT an active member in a good standing with RMTA. Also working as a Massage clinical instructor at ABM college. Before persuading career as a massage therapist was a receptionist at a medical office. I use diverse types of massage such as Swedish relaxation , therapeutic , deep tissue, prenatal, postnatal, sports massage, Myofascial Release, stretchings, hot stone, Aromatherapy with wide range of techniques to loosen muscles and Connective tissues to reduce dysfunction, promote well being, improve ROM . Able to make a treatment plan according to client needs and what they want.


