include ../partials/header.pug
.container
   h1.doc_pro ACUPUNCTURE
   p.doc_name DUYEN CAO
   .main_content
       .service_photo
          img(src="./../../assets/doc8.jpg", alt="doc1")
       .doc_info
          p.doc_intro.
            Dr. Duyen Cao has been in the Alternative Healthcare for more than 10 years. She has been integrating massage therapy, craniosacral and healing art for all ages from athletes to office workers, Motor Vehicle victims to children who play sports. She has treated numerous cases of tendonitis, carpal tunnel syndrome, tension headaches, whiplash injuries, sport injuries, sciatica, frozen shoulder, disc herniation and piriformis syndrome etc. With 4 years of training and practicing in Chinese Medicine and Acupuncture, she is able to get her patients well much faster thanks to the art of acupuncture. Her scope of practice has also been broadened to treating internal illnesses such as Irritable Bowel Syndrome, PMS, Gynecology, Insomnia, Stress, Depression and Anxiety. Dr Cao is a result oriented practitioner who truly cares for the well-being of her patients. She listens to her patients and creates individualized treatment for everyone. She works very closely with chiropractors and physiotherapists to ensure her patients are well cared for. Besides work and family Dr Cao spends time studying the Classics of Chinese Medicine and furthers her knowledge in pulse reading, diagnosis and herbology. She also a regular meditator who practices yoga daily for the health and well being.



