include ../partials/header.pug
.container
   h1.doc_pro DIETITIAN
   p.doc_name BRINDA RAO (M.SC, RD, CDE)

   .main_content
       .service_photo
          img(src="./../../assets/doc9.jpg", alt="doc1")
       .doc_info
          p.doc_intro. 
           Brinda Rao is a registered Dietitian with over 15 years experience in the field of Nutrition. She provides evidence based Nutritional counselling services & support for patients of multicultural and diverse background. Her field of expertise includes preventative health, Chronic disease, pre-natal nutrition & weight management education. Brinda is also a Certified Diabetes Educator & provides counselling to people with Diabetes as well as develops Diabetes prevention plans. She works with adults in the management of thee Diabetes to help them achieve optimal blood glucose control. Brinda is of Indo-Canadian heritage and speaks several South Asian languages including Hindi/Urdu. She has worked in India as well as Canada and can translate the complex science of nutrition into practical daily applications for her clients. She is knowledgeable with regards to various ethnic foods including South Asian food. Brinda is registered with the College of Dietitians of Alberta, Dietitians of Canada & The Canadian Obesity Network. She is a certified Craving Change expert and is also certified in Health coaching and Solution focus counselling. She has been a regular guest on South Asian Radio Show `Roshni’ on RedFM in Calgary. Brinda takes a compassionate & supportive approach, helping people transform their health and achieve their goals through improvement to their lifestyle.


