
  .serve_container
    h3.serve Massage
    .main_content
       .service_photo
          img(src="./../../assets/massage.jpg", alt="physio")
       .service_info
         p.service_intro.
            Massage therapy consists primarily of hands-on manipulation of the soft tissues of the body, specifically, the muscles, connective tissue, tendons, ligaments and joints for the purpose of optimizing health.
         p.any_bold There are the types of Massage we provide:
         ul
           li Swedish massage
           li Deep tissue massage
           li Sports massage
           li Trigger point massage
           li Massage for pregnant Women
           li Relaxation massage
           li Head massage
           li Therapeutic massage
           li Stone massage
           li Stretching
           li Myofascial Release
         p.any_bold BENEFITS OF MASSAGE
         p.service_intro.
            While more research is needed to confirm the benefits of massage, some studies have found massage may also be helpful for:
         ul
           li Anxiety
           li  Digestive disorders 
           li   Fibromyalgia
           li  Headaches 
           li  Insomnia related to stress 
           li   Myofascial pain syndrome
           li  Soft tissue strains or injuries
           li  Sports injuries
           li  Temporomandibular joint pain

           