include ../partials/header.pug
.container
  h1.page_name Our Services
  .serve_container
    h3.serve PHYSIOTHERAPY
    .main_content
       .service_photo
          img(src="./../../assets/phsio.jpeg", alt="physio")
       .service_info
         p.service_intro Physiotherapy is a health care profession which assists people to restore, maintain and maximize their strength, function, movement, and overall well-being. Physiotherapy can be use as a part of treatment or to prevent injuries as well.
         p.any_bold PHYSIOTHERAPY BENIFITS
         ul
           li Managing acute and chronic conditions, activity limitations, and participation restrictions
           li Improving and maintaining optimal functional independence and physical performance
           li Rehabilitating injury and the effects of disease or disability with therapeutic exercise programs and other interventions.
           li Educating and planning maintenance and support programs to prevent re-occurrence, re-injury or functional decline.
           li Promoting optimal mobility, physical activity and overall health and wellness
           li Preventing disease, injury, and disability
           li Physiotherapy benefits include decreasing pain, improving joint mobility, increasing strength, coordination, improved cardio-respiratory function
           li Everyone can be benefit from physiotherapy whether you are living with a chronic illness, recovering from a work injury or suffering after that weekend hockey game.
    a.view_more(href="allservices.html")  MOre services
           