.appointment_container
   h2.appointments Appointments
   .content_container
      h3.caution Appointment will not be cancelled after 24 Hours of Booking
      .left_field
         form(action='/')
            input(type='text' name='name' value)
           
      .right_field