.team_container
  .team Team
  .team_content
    .doctor
      img(src='./../assets/doc1.jpg' alt='doc1')
      a.a_style(href='./doc1.html')
        .doc_data
          h3.post PHYSIOTHERAPIST
          h3.name JANA CHANDERSHEKAR (BPT, MPT, CLT, FDN)
        div Read more...
      
    .doctor
      img(src='./../assets/doc2.jpg' alt='doc1')
      a.a_style(href='./doc2.html')
        .doc_data
          h3.post PHYSIOTHERAPIST
          h3.name JANA CHANDERSHEKAR (BPT, MPT, CLT, FDN)
        div Read more...
    
    .doctor
      img(src='./../assets/doc3.jpg' alt='doc1')
      a.a_style(href='./doc3.html')
        .doc_data
          h3.post PHYSIOTHERAPIST
          h3.name JANA CHANDERSHEKAR (BPT, MPT, CLT, FDN)
        div Read more...
  a.see_more(href='./allteam.html') See Team
    //- .doctor
    //-   img(src='./../assets/doc4.jpg' alt='doc1')
    //-   a.a_style(href='#')
    //-     .doc_data
    //-       h3.post PHYSIOTHERAPIST
    //-       h3.name JANA CHANDERSHEKAR (BPT, MPT, CLT, FDN)
    //- .doctor
    //-   img(src='./../assets/doc5.jpg' alt='doc1')
    //-   a.a_style(href='#')
    //-     .doc_data
    //-       h3.post PHYSIOTHERAPIST
    //-       h3.name JANA CHANDERSHEKAR (BPT, MPT, CLT, FDN)
    //- .doctor
    //-   img(src='./../assets/doc6.jpg' alt='doc1')
    //-   a.a_style(href='#')
    //-     .doc_data
    //-       h3.post PHYSIOTHERAPIST
    //-       h3.name JANA CHANDERSHEKAR (BPT, MPT, CLT, FDN)
    //- .doctor
    //-   img(src='./../assets/doc7.jpg' alt='doc1')
    //-   a.a_style(href='#')
    //-     .doc_data
    //-       h3.post PHYSIOTHERAPIST
    //-       h3.name JANA CHANDERSHEKAR (BPT, MPT, CLT, FDN)
    //- .doctor
    //-   img(src='./../assets/doc8.jpg' alt='doc1')
    //-   a.a_style(href='#')
    //-     .doc_data
    //-       h3.post PHYSIOTHERAPIST
    //-       h3.name JANA CHANDERSHEKAR (BPT, MPT, CLT, FDN)
    //- .doctor
    //-   img(src='./../assets/doc9.jpg' alt='doc1')
    //-   a.a_style(href='#')
    //-     .doc_data
    //-       h3.post PHYSIOTHERAPIST
    //-       h3.name JANA CHANDERSHEKAR (BPT, MPT, CLT, FDN)
    